@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-col: #202124;
    --secondary-col: #d1d1d3;
    --tertiary-col: hsl(253, 100%, 80%);
    /* other colors */
    --white-col: white;
    --transparent: rgba(255, 255, 255, 0);
    /* border */
    --border-rounded-full: 5rem;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* ---------- *
 *   BORDER   *
 * ---------- */
.rounded-full {
    border-radius: var(--border-rounded-full);
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-size: 2rem;
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #202124;
}

form > input {
    min-height: 6rem;
    padding: 1rem;
    border: 1px solid var(--secondary-col);
    background-color: var(--transparent);
    box-shadow: inset 0 0 0 var(--transparent);
    transition: 0.2s ease-in-out;
}

form > input:focus {
    border-color: var(--primary-col);
    background-color: var(--secondary-col);
    box-shadow: inset 0 0 1.25rem var(--primary-col);
}

.url-form {
    width: clamp(20rem, 100%, 60rem);
}