@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */
    --light-dark-gray: rgb(197, 197, 197);
    --dark-gray: #393939;
    --darker-gray: #121212;

    /* other colors */
    --ecto-green: #00C8A0;
    --light-lavender: #F7EBFF;
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

.grid.place-center {
    place-items: center;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-size: 2rem;
    font-family: 'Tajawal', sans-serif;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}

section {
    min-height: 100vh;
    padding: 2rem;
}

section.shorten-link {
    display: grid;
    place-items: center;
    background-color: var(--dark-gray);
}

section.about {
    background-color: var(--light-dark-gray);
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    transform: translateY(-100%);
    background-color: var(--darker-gray);
    transition: transform 0.4s ease-in-out;
    border-radius: 0 0 1.75rem 1.75rem;
}

nav.show {
    transform: translateY(0);
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
    min-width: 10rem;
    color: var(--ecto-green);
}

.shorten-input {
    min-height: 5rem;
    width: clamp(25rem, 100%, 40rem);
}